.home
	.column
		.padding
		.padding
		%table.home-info
			-#%tr
			-#	%td Date
			-#	%td Friday, April 26, 2019
			-#%tr
			-#	%td Time
			-#	%td 1pm - 4pm
			-#%tr
			-#	%td Location
			-#	%td
			-#		%a{href: 'https://www.google.com/maps/place/The+Riverside+Church/@40.8111281,-73.9625605,18.05z/data=!4m12!1m6!3m5!1s0x89c2f6409b0bfa6d:0xe3a8a9470ffc2472!2sThe+Riverside+Church!8m2!3d40.8118401!4d-73.9631244!3m4!1s0x89c2f6409b0bfa6d:0xe3a8a9470ffc2472!8m2!3d40.8118401!4d-73.9631244',
			-#			target:'_blank'}
			-#			Riverside Church, 9th Floor Lounge
			-#		%br
			-#		91 Claremont Avenue
			-#		%br
			-#		%i (nearest cross streets:
			-#		%br
			-#		Riverside Drive and W 122nd)
			-#		%br
			-#		NY, NY, 10027
			-#%tr
			-#	%td
			-#
			-#%tr
			-#	%td &nbsp;
			-# %tr.cta
			-# 	%td{colspan: 2}
			-# 		Reader Registration is open!
			-# 		%br
			-# 		%br
			-# 		%a{href: current_user ? users_returning_path : users_registration_info_path}
			-# 			Click here to become a Sonneteer!
			-# 		%br
			-# 		%br
			-# 		We will email you your Sonnet and event details.

		-# .announcement Thank you all who participated in the 13th Annual Shakespeare’s Birthday Sonnet Slam. For the 2024 Sonnet Slam information, please check back in March 2024.
		-# %br
		-# %br
		-# To see the 2023 Sonnet Slam, please watch:
		-# %a{href: 'https://goo.gl/maps/rbHDSqk7r6pADfP26', target: '_blank'}
		-# 	2023 Sonnet Videos
		-# %br
		-# %br

		.announcement SAVE THE DATE!
		%br
		%br
		The 14th Annual Shakespeare’s Birthday Sonnet Slam will be held:
		%br
		Saturday, April 20, 2024
		%br
		from 1-4pm
		%br
		Check-in for Readers at Noon
		%br
		9th floor lounge
		%br
		%a{href: 'https://goo.gl/maps/rbHDSqk7r6pADfP26', target: '_blank'}
			The Riverside Church
		%br
		Elevator access
		%br
		Reader Registration opens March 20, 2024
		-# %br
		-# .announcement Reader registration now opens March 22th
		.padding
		.padding
		Tax-deductible donations accepted through Fractured Atlas at this link:
		%a{href: 'https://fundraising.fracturedatlas.org/annual-shakespeare-s-birthday-sonnet-slam', target: '_blank'}
			Fractured Atlas
		-# To see the 2022 Sonnet Slam, please watch:
		-# %br
		-# %a{href: 'https://vimeo.com/showcase/9459874', target: '_blank'}
		-# 	2022 Sonnet Slam Video
		-# %br
		-# %br
		-# To see the 2021 Sonnet Slam and understand the format, have a look:
		-# %br
		-# %a{href: 'https://vimeo.com/showcase/8396555', target: '_blank'}
		-# 	2021 Sonnet Slam Collection
		%br
		%br
		Kindly,
		%br
		Melinda Hall
		%br
		Creator and Producer
		-# Thank you all for your continued support.
		-# %br
		-# At the Riverside Church Lounge in NYC
		-# %br
		-# %br
		-# More details will be revealed closer to the date &
		-# %br
		-# Reader registration opens in March 2020.
		-# Sonnet Slam video available at
		-# %a{href: 'https://vimeo.com/album/5152709', target: '_blank'}
		-# 	Willful Pictures
		-# Vimeo channel
		-# .padding
		Contact:
		%a{href:'mailto:sonnetslam@gmail.com'} sonnetslam@gmail.com
		%br
		%br
		The Past Annual Shakespeare’s Birthday Sonnet Slams were made possible in part with public funds from Creative Engagement, a regrant program supported by the NYC Dept. of Cultural Affairs in partnership with the City Council and administered by LMCC.

	.right-column.column
		%img{src: image_path('logo-large.png'), width: '400px'}
	.clear
